[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}


p{
  font-size: 16px !important;
}




@media screen and (max-width:768px){
  p{
    font-size: 15px !important;
  }
}
